
<div class="footnotes" style="">
  <br/><br/>
  <hr>
  <table>
    <tr>
      <td style="padding-left: 30;">
        <section style="padding:0.5em">
          <span style="font-size:1em;text-decoration: underline;">Email: </span> 
          <a style="font-size:1em;" target="_blank" href="mailto:haivicky@gmail.com">
            haivicky@gmail.com
          </a>
      </section> 
      </td>
      </tr>
      <tr>
      <td>
        <section style="padding:0.5em">
          <span style="font-size:1em; text-decoration: underline;">Social </span> &nbsp;&nbsp;
          <span style="font-size:0.8em;">
            <a href="https://www.facebook.com/AnEmptyBoat"> Facebook </a> &nbsp;&nbsp; | &nbsp;
            <a href="https://instagram.com/vigvenkat"> Instagram </a> &nbsp;&nbsp; | &nbsp;
            <a href="https://twitter.com/vig_venkat"> Twitter </a> &nbsp;&nbsp; 
          </span>
      </section> 
    </td>      
      
    </tr>
  </table>

    
    
    <span style="font-size:0.7em; padding-left: 25%;">
    All rights reserverd. @vigvenkat.com c. 2021
    </span>
</div>
`