
<div class="footnotes" style="">
  <br/><br/>
  <hr>
    <section style="padding:0.5em">
        <span style="font-size:1em;">Contact </span> &nbsp;&nbsp;
        <span style="font-size:0.8em;">
          <a href="https://www.facebook.com/AnEmptyBoat"> Facebook </a> &nbsp;&nbsp; | &nbsp;
          <a href="https://instagram.com/vigvenkat"> Instagram </a> &nbsp;&nbsp; | &nbsp;
          <a href="https://twitter.com/AnEmptyBoat"> Twitter </a> &nbsp;&nbsp; | &nbsp;
        </span>
    </section> 
    <span style="font-size:0.7em;">
    All rights reserverd. @vigvenkat.com c. 2020
    </span>
</div>
