{{ partial "header.html" . }}

<section id="content">
  <table>
    <td> </td>
    <td></td>
  </table>
  <div>
    <img src='{{ print $.Site.BaseURL "/images/profPhoto.png" }}' width="130" height="130"/>
  </div>
  <div>
    <h4 style="text-decoration: underline;"> About </h4>
    
    Hello 👋 
    <ul>
       <li>I'm Vigneshwar Venkatachalapathi. <br/></li>
       <li>You can call me "Vig" <br/><br/><br/></li>
       <li>I live in Hong Kong. <br/><br/></li>
       <li>I'm currently a Software Engineer <a href="https://privetechnologies.com/">Prive Technologies</a>. Specifically backend engineering and occasionally a bit of frontend work too.<br/><br/><br/></li>
      
       <li>Besides work, I work on few personal projects usually with different tech stack.<br/></li>
    </ul>
    </div>
  
</section>

<hr>

<section id="conten"t>
  <h4> Blog </h4>
  <ul class=posts_listing>
    {{ range .Site.RegularPages.ByPublishDate.Reverse }}
      <div id="posts">
        {{if not (in .Params.tags "disable")}}
        <div id=date class="date-time-title" style="font-size:0.7em">
            <time>{{ .Date.Format (.Site.Params.dateform | default "Jan 02 2006") }}</time>
        </div>
        <div class="date-time-title post" style="font-size:0.9em">
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </div>
        {{end}}
      </div>
    {{ end }}
  </ul>
</section>

<hr>
<section id=content>
  
</section>


{{ partial "footer.html" . }}
