{{ partial "header.html" . }}

<section id="content" >
  <div>
    <img src='{{ print $.Site.BaseURL "/images/profPhoto.png" }}' width="130" height="130"/>
  </div>
  <div>
    <h3 style="text-decoration: underline;"> About </h3>
    
    Hello 👋 
    <ul>
       <li>I'm <span style="font-size: 1.2em;">Vigneshwar Venkatachalapathi.</span> <br/><br/></li>
       <li>I live in Hong Kong. <br/><br/></li>
       <li>I'm currently a Software Engineer at <a href="https://privetechnologies.com/">Prive Technologies</a>. Specifically building & maintaining distributed backend systems.<br/><br/></li>
       <li>I have over 6+ years of experience with building and supporting Software systems in multiple tech stack. <br/>
       <span style="text-decoration: underline;">Primarily backend engineering in Java and Golang.</span></li><br/>       
    </ul>
    </div>
  
</section>

<hr>

<section id=content>
  <span style="text-decoration: underline;">Github:</span>
  
  <!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/themoralpanda" data-color-scheme="no-preference: dark; light: light; dark: dark;" aria-label="Follow @themoralpanda on GitHub"> vigvenkat</a>

</section>

<hr>


<section id=content>
  <a target="__blank"  href="https://hk.linkedin.com/in/vickypathi"><img src='{{ print $.Site.BaseURL "/images/linkedin.png" }}' width="80" height="40"/></a>              
</section>
<hr>

<section id="content">
  <a style="font-size: 1.2em" href='{{ print "blog" }}'>📝 Blog</a>
</section>
<hr>

<section id="content">
   
  <a style="font-size: 1.2em;" href='{{ print "music" }}'>🎵 Music Compositions</a>
  &nbsp;&nbsp; - Im passionate about music and have been actively learning both Indian classical carnatic singing & playing piano.      
</section>



{{ partial "footer.html" . }}
