---
layout: single

---


<div style="margin-left:10px;">
    <h3> Hello 👋 </h3>

    <span style="font-size:0.85em">
        
        I'm Vig <br />
        I'm a Senior Software Engineer. Currently working for M800 Ltd, Hong Kong. 
        Previously I worked at Infosys, India.
        <br />
        I'm passionate about Technology, Music and Philosophy. 
        I'm currently learning<br/>
        <ul>
            <li>
                Indian classical singing (carnatic)
            </li>
            <li>
                Western Piano
            </li>
        </ul>
        In free time, I compose new music here -
        <a href="http://anemptyboat.com/music"> AnEmptyBoatMusicProductions </a> <br /><br />
        
        I play e-games especially FIFA [xbox gamertag - vickypathi]
        
        <br /><br />
        <b>Blogs</b> <br />
        <ol>
            <li>
                <a href="https://vickyexplored.wordpress.com" target="_blank">Personal </a>
            </li>            
            <li>
                <a href="https://themoralpanda.github.io/postArchive/" target="_blank">Technical </a>
            </li>
            <li>
                <a href="http://anemptyboat.com"> AnEmptyBoat </a>
            </li>
        </ol>

    </span>
</div>
<hr>