---
layout: single

---


<div style="margin-left:10px;">
    <h3> Hi there! </h3 >

    <span style="font-size:0.85em">
        I'm Vig Venkat. <br/>
        I live in Hong Kong. <br/>
        I work as a Senior Software Engineer. At work, I mostly do Backend Engineering.
        <br/><br/>
        I love Technology and Music. <br/>
        I'm currently learning both <i>Indian classical singing (carnatic)</i> and <i>Western Piano</i>
        <br/><br/>    

        In free time, I compose new music here -
        <a href="http://anemptyboat.com/music"> AnEmptyBoatMusicProductions </a> <br/><br/>

        <b>Blogs</b> <br/>
        1. <a href="http://themoralpanda.github.io/blogIndex" target="_blank">Personal</a><br/>
        2. <a href="http://anemptyboat.com"> AnEmptyBoatBlog </a> <br/>
        
    </span>    
</div>
<hr>
<div>
    <div style="">
        <h4>Links</h4> 
        <div style="font-size:0.73em;color:Green">
        <span>
            <u><a href="https://github.com/TheMoralPanda" target="_blank">Github</a></u>
        </span>&nbsp;&nbsp;&nbsp;
        <span>
            <u><a href="http://anemptyboat.com/music" target="_blank">Music compositions</a></u>
        </span>&nbsp;&nbsp;&nbsp;
        <span>
            <u><a href="/assets/pdf/Vigneshwar V_Resume.pdf" target="_blank">My Resume</a></u>
        </span><br/>
    </div>
    </div>

</div>