---
author_profile: true
comments: false
date: 2017-03-16 11:24:20+00:00
layout: single
title: Index

---

{% assign mydocs = site.posts | group_by: 'category' %}
{% for doc in mydocs %}
<h2> {{ doc.name | capitalize }}</h2>
    {% assign subdocs = doc.items | group_by: 'subcategory' %}
    <ol>
       {% for sdoc in subdocs %}
            <li>
                <h4> {{ sdoc.name | capitalize }} </h4>
                <ul>
                {% for item in sdoc.items %}
                   <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ol>
{% endfor %}