---
author_profile: true
comments: false
date: 2017-03-16 11:24:20+00:00
layout: single
title: Index

---

{% assign mydocs = site.posts | group_by: 'caty' %}
{% assign fullUrl = site.url | append: site.baseurl %}

{% for doc in mydocs %}
<div class="index_div" style="font-size:0.8em">
 <b>{{ doc.name | capitalize }}</b>
    {% assign subdocs = doc.items | group_by: 'subcaty'%}
    <ul>
       {% for sdoc in subdocs %}
            <li>
                 <i>{{ sdoc.name | capitalize }} </i>
                <ul>
                {% for item in sdoc.items %}
                   <li><a href="{{ fullUrl | append: item.url }}">{{ item.title }}</a></li>
                {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</div>
{% endfor %}

